<% include ./partials/header %>

<div class="container my-5 auth-card">
  <h1>Sign Up</h1>

  <form action="/register" method="POST">
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter a username"
        id="usernameInput"
      />
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter a password"
        id="passwordInput"
      />
    </div>
    <button class="btn btn-color">Sign Up</button>
  </form>
</div>

<% include ./partials/footer %>
